:root {
    --main-bg-color: #277e37;
    --main-text-color: #baac52;
    --main-third-color: #818281;
    --indent-body: 100px;
}

.about {}

.about_main {
    background-color: #F4F7F9;
}



.blog_item {
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 40px;
}

.blog_item_text {
    height: 140px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .about_main {
        padding: 0;
    }

    .blog_item {
        padding: 40px 20px;
    }
}

.blog_item_header {
    font-size: 1.6rem;
    font-weight: 600;
    /* margin-bottom: 25px; */
}

.blog_img {
    height: 320px;
    overflow: hidden;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .blog_img {
        margin-bottom: 20px;
    }
}

.blog_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog_data {
    margin: 10px 0 !important;
    font-weight: 600;
}

.category {
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.category img {
    margin-right: 6px;
}

.category span {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 10px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    color: var(--main-bg-color);

}

.dropdown {
    position: relative;
}

.category_a {
    display: inline-block;
    border: 1px solid red;
    background-color: transparent;
    padding: 5px 15px;
    color: #000;
    background-color: #fff;
    border: 0.07143em solid rgba(17, 85, 204, 0.5);
    font-size: 1.2rem;
    font-weight: 600;
    /* margin-left: 10px; */
    position: relative;
    z-index: 10;
    cursor: pointer;
    color: var(--main-bg-color);
    text-decoration: none;
    border-radius: 6px;
}

.category_a:hover {
    border: 0.07143em solid rgba(17, 85, 204, 0.5);
    color: #000;
    color: var(--main-bg-color);
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0.13333em 0.66667em rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in;
}

.category_a_active,
.category_a_active:hover {
    border-color: transparent;
    box-shadow: 0 0.13333em 0.66667em rgba(0, 0, 0, 0.0);
}

ul.dropdowCatgeory {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 350px;
    position: absolute;
    top: -10px;
    left: -35px;
    padding-left: 50px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.13333em 0.66667em rgba(0, 0, 0, 0.2);
    display: none;
}

.show {
    display: block;
}

ul.dropdowCatgeory li {
    list-style: none;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

ul.dropdowCatgeory a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-bg-color);
    text-decoration: none;
    display: block;
}

ul.dropdowCatgeory a:hover {
    text-decoration: underline;
}